<div class="div-alert-update-success" style=" display:flex;justify-content:center;align-items:center;margin-top:40px;">
    <div class="alert" role="alert"
        style="width: 310px;background-color:white; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);display:flex;justify-content:space-evenly;align-items:center">
        <span><i class="fa-solid fa-circle-check" style="color: #058a0e;"></i></span><span
            style="color: black;margin-left:12px;font-weight:600">Account Deleted Successfully</span>
    </div>
</div>