<div class="container" style="display: flex; justify-content:space-evenly;align-items:center;margin-top:80px">
            <div class="div-information">
                <h2 style="font-size: 40px; font-weight : 600">The Best Tech Related </h2><br><h2 style="font-size: 40px; font-weight : 600; color:rgb(178, 20, 20)">Social Platform !</h2>
            </div>
            <div class="div-image">
                <img src="https://static.uacdn.net/production/_next/static/images/home-illustration.svg?q=75&auto=format%2Ccompress&w=1200" alt="hero_IMG">
            </div>
</div>