 <div class="container-x" style="display: flex; justify-content:center;align-items:center;flex-direction:column">
        <div class="title">
            <h3>Our Partners</h3>
        </div>
        <div class="image-partners" style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 100px;">
            <div class="img">
                <img src="https://www.schreiberdynamixdairy.com/assets/img/client/11.jpg" alt="">
            </div>
            <div class="img">
                <img src="https://www.schreiberdynamixdairy.com/assets/img/client/10.jpg" alt="">
            </div>
            <div class="img">
                <img src="https://www.schreiberdynamixdairy.com/assets/img/client/1.jpg" alt="">
            </div>
        </div>
    </div>