<div
  class="main-div-carousel"
  style="margin: 40px auto; width:800px;border-radius:24px;display:flex;flex-direction:row;justify-content:center;"
>
  <div
    id="carouselExampleAutoplaying"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://d3h2k7ug3o5pb3.cloudfront.net/image/2020-12-13/137d4bd0-3d3d-11eb-892b-1727b307c367.jpg"
          class="d-block w-100"
          alt="Image_1"
          style="border-radius:24px"
        />
      </div>
      <div class="carousel-item">
        <img src="https://d3h2k7ug3o5pb3.cloudfront.net/image/2020-12-13/c401b370-3d3c-11eb-892b-1727b307c367.jpg" class="d-block w-100" alt="Image_2" style="border-radius:24px"/>
      </div>
      <div class="carousel-item">
        <img src="https://d3h2k7ug3o5pb3.cloudfront.net/image/2020-12-13/fe086ff0-3d3c-11eb-892b-1727b307c367.jpg" class="d-block w-100" alt="Image_3" style="border-radius:24px"/>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
